# Librerías básicas
numpy==1.24.3
pandas==1.5.3
matplotlib==3.7.1
seaborn==0.12.2

# Scikit-learn y Machine Learning
scikit-learn==1.2.2
joblib==1.2.0
imblearn==0.10.1  # Para SMOTE

# Streamlit para la App Web
streamlit==1.22.0

# TensorFlow (si usas redes neuronales)
tensorflow==2.12.0

# Otras utilidades
scipy==1.10.1